#position {
    position: absolute;
    font-size: 1.3em;
    color: white;
    text-shadow:1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.song{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(209, 209, 209);
    padding: 10px;
    border-radius: 60px;
}

.song:hover {
    background-color: grey;
}

img {
    width: 10%;
    border-radius: 50%;
}

.audioPreview {
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.details{
    width: 40%;
    margin: auto 0;
}

h3, p {
    text-align: right;
    margin: auto ;
    overflow: hidden;
    text-decoration: none;
    color: black;

}

